/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
 */

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body, #wrap {height: 100%; }

body > #wrap {height: auto; min-height: 100%;}

#content-less-footer {padding-bottom: 148px; }  /* must be same height as the footer (or in this case +30) */

/* CLEAR FIX*/
.clearfix:after {content: ".";
  display: block;
  height: 0;
  clear: both;
visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* GENERAL*/
a { color: #BED730; font-weight: bold;}
a:hover, a:focus { color: #BED730; }
a:hover, a:active { outline: none; }
a:active, input.button:active {
  outline: 0;
  position: relative;
  top: 1px;
  color: #BED730;
}

::-moz-selection { text-shadow: none; background: #888; color: #fff; }
::selection { text-shadow: none; background: #888; color: #fff; }
a:link { -webkit-tap-highlight-color: #888; }

body {font-size:75%;color:#433F40;background:#fff;font-family: Arial,Helvetica,sans-serif;}
div.large-text {font-size: 116.7%;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#433F40;}
h1 {font-size:2.5em;}
h2 {font-size:2em;}
h3 {font-size:1.5em;}
h4 {font-size:1.333em;}
h5 {font-size:1em;}
h6 {font-size:1em;}

body {
  text-align: center;
}

div#wrap {
  text-align: left;
}

div.unboxed {
  padding: 13px;
}

div.first-unboxed {
  padding-left: 0;
}

div.boxed {
  padding: 12px;
  border: 1px solid #EEE;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 1px -1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px -1px 2px rgba(0,0,0,0.1);
  box-shadow: 1px -1px 2px rgba(0,0,0,0.1);
}

div.divider {
  height: 1px;
  background: #EEE;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.large-divider {
  clear: both;
  background: -webkit-gradient(radial, center -1200, 10, center -1200, 1230, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.1)));
  background: -webkit-radial-gradient(center -1200px, circle, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0) 1230px);
  background: -moz-radial-gradient(center -1200px, circle, rgba(0, 0, 0, 1) 10px, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0) 1230px);
  height: 30px;
  margin: 0 auto;
  margin-top: 50px;
}

/* FOOTER*/
#footer-bar {
  clear: both;
  margin-top: -118px; /* negative value of footer height */
  height: 118px;
  background: #1F1F1F;
  -moz-box-shadow: 0 0 25px 5px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 0 25px 5px rgba(0,0,0,0.8);
  box-shadow: 0 0 25px 5px rgba(0,0,0,0.8);
}

#content-info { 
  height: 118px;
  color: white;
}

#content-info .copyright {
  left: 0px;
  top: 35px;
  position: absolute;
}

#content-info img { 
  margin-top: 25px;
}

#nav-footer ul { 
  left: 0px;
  top: 52px;
  position: relative; 
  list-style: none; 
  margin: 0 0 16px 0; 
  padding: 0;
  float: left; 
}
#nav-footer ul li {
  float: left; margin: 0;
  text-decoration: none;
  padding-right: 20px;
}

#nav-footer ul li a {
  text-decoration: none;
  display: block;
  color: white;
  margin: 0;
}

#nav-footer ul li a:hover {
  color: #BED730;
}

#nav-footer ul li.current_page_item > a {
  pointer-events: none;
  cursor: default;
  color: #BED730;
}

/* TESTING STUFF*/
.test {
  background: lime;
}

/* HEADER*/

#header-bar {
  height: 10px;
  background: #1F1F1F;
  -moz-box-shadow: 0 0 25px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 25px 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 25px 5px rgba(0,0,0,0.5);
}

#banner {
  margin: 0;
  height: 155px;
}

#nav-main {
  background: #1F1F1F;
  background-image: auto;
  width: auto;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  float: right;
}

#right-curve,
#left-curve {
  float: right;
}

#nav-main ul { 
  position: relative; 
  list-style: none; 
  margin: 0 0 0 0; 
  padding: 15px 20px 10px 20px;
  float: left; 
  width: 100%;
  background: transparent;
  background-image: auto;
}

#nav-main ul li {
  float: left; margin: 0;
  text-decoration: none;
}

#nav-main ul li a {
  color: #999;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0 17px 0 17px;
  border-left: 2px solid #616161;
}

#nav-main ul li:first-child a {
  border: none;
}

#nav-main ul li.current_page_item > a {
  pointer-events: none;
  cursor: default;
  color: #BED730;
}

/* #nav-main ul li a:hover, */
#nav-main ul li:hover > a { 
  color: #BED730;
}

#green-flash {
  width: 168px;
  height: 10px;
  margin-left: 35px;
  margin-top: -10px;
  background: #BED730;
}

#logo {
  margin-left: 35px;
  margin-top: 40px;
}

header h1 {
  clear: both;
  font-size: 2em;
  color: #616161;
  padding: 40px 0 0 30px;
}

/* FRONT PAGE*/


.hero-shot img {
  vertical-align: middle;
}

.hero-copy h1 {
  font-size: 1.5em
}

.big-button {
  border: none;
  display: inline-block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow:
  0 8px 0 #ADC600,
  0 15px 20px rgba(0,0,0,.35);
  -moz-box-shadow:
  0 8px 0 #ADC600,
  0 15px 20px rgba(0,0,0,.35);
  box-shadow:
  0 8px 0 #ADC600,
  0 15px 20px rgba(0,0,0,.35);
}

.big-button span{
  text-align: center;
  display: inline-block;
  background-color: #BED730;
  padding: 12px;
  border: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.big-button:active {
  -webkit-box-shadow:
  0 8px 0 #ADC600,
  0 12px 10px rgba(0,0,0,.3);
  -moz-box-shadow:
  0 8px 0 #ADC600,
  0 12px 10px rgba(0,0,0,.3);
  box-shadow:
  0 8px 0 #ADC600,
  0 12px 10px rgba(0,0,0,.3);
}

.big-button:active span {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

.big-button span strong {
  text-transform: uppercase;
  font-size: 1.5em;
}

.big-button a,
.big-button a:hover,
.big-button span {
  text-decoration: none;
  color: black;
}

#content input {
  border: #DADADA 1px solid;
  width: 245px;
  height: 32px;
  margin-bottom: 18px;
  color: #969696;
  padding-left: 18px;
}

div.quotes {
  color: #616161;
  padding: 20px;
}

div.benefits {
  color: #616161;
}

div.benefits ul {
  list-style: none;
}

div.benefits li {
  margin-top: 20px;
}

div.benefits li:first-child {
  margin-top: 0;
}

div.benefits h2 {
  color: #616161;
  font-size: 1.5em;
  display: inline;
  border-right: 2px solid #616161;
  font-weight: bold;
  padding-right: 10px;
  margin-right: 10px;
}

/* Contact Page*/


div.contact h2 {
  color: #616161;
  font-size: 1em;
  display: inline;
  font-weight: bold;
  padding-right: 10px;
  margin-right: 10px;
}

div.contact tbody tr:nth-child(even) td, div.contact  tbody tr.even td {
  background: #FFF;
}

div.contact td {
  vertical-align: top;
}

div.contact table {

}

/* Blog */

#searchform input#s {
  background:url(../img/search.jpg) no-repeat top left;
  border: none;
  width: 225px;
  height: 30px;
  position: relative;
  padding: 3px 0px 10px 35px;
}


#content #searchform input#searchsubmit.button {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  background-color: #BED730;
  color: black;
  text-shadow: none;
  width: 70px;
  background-image: none;
  float: right;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin-right: 28px;
  margin-top: -18px;
}

.widget h3 {
  font-size: 1.85em;
  color: #433F40;
  margin-bottom: 10px;
  margin-top: 22px;
}

.widget_categories ul li a {
  font-size: 14px;
  line-height: 18px;
  color: #636363;
  font-weight: bold;
  text-decoration: none;
}

.widget_categories ul li a:hover, .widget_categories ul li a:focus { color: #BED730; }
.widget_categories ul li a:hover, .widget_categories ul li a:active { outline: none; }
.widget_categories ul li a:active {
  outline: 0;
  position: relative;
  top: 1px;
  color: #BED730;
}

.widget_categories ul {
  list-style: none;
}
.widget_categories ul li {
  padding-left: 23px;
  margin-top: 4px;
  background-image: url(../img/box.gif);
  background-repeat: no-repeat;
  background-position-y: 50%
}
